udo apt-get install vim

vim默认的配置使用起来还不能让人满意，还需要自己配置
默认配置文件是：/etc/vim/vimrc
我们可以在家目录下建立自己的配置文件
切换到家目录 #cd ~
touch一个名为.vimrc的文件（以.开头的为隐藏文件）
#vi .vimrc
输入以下配置：
set nocompatible       不使用vi默认键盘布局  
set number               显示行号
set autoindent          自动对齐
set smartindent         智能对齐
set showmatch          括号匹配模式
set ruler                　显示状态行
set incsearch            查询时非常方便，如要查找book单词，当输入到/b时，会自动找到   第一个b开头的单词，当输入到/bo时，会自动找到第一个bo开头的单词，依次类推，进行查找时，使用此设置会快速找到答案，当你找要匹配的单词时，别忘记回车.
set tabstop=4           tab键为4个空格
set shiftwidth=4    　换行时行间交错使用4个空格
set softtabstop=4　 设置（软）制表符宽度为4
set cindent              C语言格式对齐
set nobackup            不要备份文件
set clipboard+=unnamed   与windows共享剪贴板

 

以上的设置基本上满足平时的开发，vim功能很强大有待继续研究学习。
